.banner_inner {
    position: relative;
    margin-bottom: 6rem;
    padding: 10px 5px;
}

.banner_inner .banner_post {
    background-color: #fff;
    border-radius: 12px;
    bottom: -50px;
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 3.2rem;
    padding: 40px;
    position: absolute;
    width: 45%;
}

.banner_inner .banner_post button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background: #4b6bfb;
    width: 28%;
    color: white;
    font-size: 16px;
    border: none;
}

.banner_inner .banner_post h2 {
    color: #181a2a;
    font-size: 32px;
    font-weight: 600;
    line-height: 2.5rem;
}

.banner_inner .banner_post .post_detail {
    display: flex;
    align-items: center;
    gap: 28%;
}

.banner_inner .banner_post .post_detail .banner_post_img {
    width: 2.5rem;
}

.banner_inner .banner_post .post_detail p {
    color: #97989f;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.advertisement_inner {
    width: 750px;
    height: 100px;
    border-radius: 12px;
    background: #e8e8ea;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.view_all_posts button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #696A75;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px rgba(105, 106, 117, 0.30) solid;
    background-color: white;
    margin-top: 3rem;
    cursor: pointer;
}

.view_all_posts button p {
    color: #696A75;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
}

.advertisement_inner p:first-child {
    color: #696a75;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.advertisement_inner h3 {
    color: #696a75;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.advertisement_inner p:last-child {
    color: #696a75;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.latest_posts_inner .latest_posts_inner_heading h2 {
    color: #181a2a;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.latest_posts_inner .latest_posts_inner_heading {
    margin-bottom: 2rem;
}

.latest_posts_inner .latest_posts_inner_body_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.latest_posts_inner .latest_posts_inner_body_grid .post_container {
    border: 1px solid #e8e8ea;
    border-radius: 12px;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest_posts_inner .latest_posts_inner_body_grid .post_container button {
    background: rgba(75, 107, 251, 0.04);
    border-radius: 6px;
    border: none;
    padding: 9px 15px;
    width: 30%;
    font-size: 15px;
    color: #4b6bfb;
    font-weight: 600;
}

.latest_posts_inner .latest_posts_inner_body_grid .post_container h3 {
    color: #181a2a;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.latest_posts_inner .latest_posts_inner_body_grid .post_container .post_author_details {
    display: flex;
    gap: 20px;
    align-items: center;
}

.post_container .post_img {
    width: 360px;
    height: 240px;
}

.post_container .post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.post_container .post_author_details .author_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post_container .post_author_details .author_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post_container .post_author_details p {
    color: #97989F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}